.card {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #fff6f6;
    border-radius: 10px;
    width: 60%;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    margin-top: 7px;
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.4);

}

.card:hover {
    transform: translateY(-2px);
}

.icons {
    margin: 10px;
    color:  #24a0ed;
    cursor: pointer;
    background-color: #cbcbcf;
    /* size: 50px; */
    border-radius: 5px;
    padding: 5px;
    height: 35px;
    width: 35px;
}

.icons:hover {
    background-color: #afafb3;
}